{% extends 'base.html' %}

{% block head %}
    <title>Create Ticket</title>
{% endblock %}

{% block navvar %}
    <a class="nav-item nav-link active" href="{% url 'ticksys:dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Please, complete the ticket creation form.</h1>

        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'ticksys/ticket-form-template.html' %}
             <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10"></div>
                    <button type="submit" class="btn btn-success">Submit</button>
                 </div>
             </div>
        </form>

    </div>
{% endblock %}